* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.center {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 100%;
	width: 100%;
	padding: 0 20px;
	background-color: white;
	gap: 20px;
}

.left {
	background-color: #c9c9c9;
	width: 60%;
	padding: 80px 20px;
	border-radius: 15px;
	flex-basis: 60%;
}

.right {
	background-image: url("../assets/tela cadastro.jpg");
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 40%;
	height: 100%;
	flex-basis: 40%;
}

.img img {
	width: 100%;
	height: auto;
	border-radius: 10px;
}

.form-group input{
	transition: 0.3s;
	font-size: 15px;
}

.form-group input:focus{
	transition: 0.3s;
	font-size: 17px;
}