* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

.tabela, th, td {
	border: 1px solid black;
}

.center {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	padding: 10px 20px 0 20px;
	width: 100%;
	height: 100%;
	text-align: center;
	gap: 10px;
	background-color: #dfdfdf;
}

.center .top {
	display: flex;
	align-items: center;
	justify-content: center;
}

.top h2 {
	background-color: #97c9ff;
	padding: 20px 200px;
	border-radius: 15px;
	font-size: 30px;
}

.center .bottom {
	display: flex;
	flex-direction: row;
	gap: 20px;
	height: 90%;
	gap: 20px;
	overflow: hidden;
}

.sidebar {
	position: relative;
	top: 50%;
	transform: translateY(-55%);
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 25%;
	height: 70%;
	background-color: #97c9ff;
	width: 25%;
	border: 1px solid black;
}

.sidebar .container-img {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 10px;
	width: 150px;
	height: auto;
}

.container-img .user-img {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 140px;
	height: 140px;
	border-radius: 50%;
	overflow: hidden;
	align-items: center;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	background-color: white;
}

.user-info, .user-id, .dados, .icons {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 90%;
	border: 1px solid black;
}

.user-info {
	flex-direction: column;
	width: 100%;
	height: 100%;
	justify-content: space-around;
	background-color: white;
	border: none;
}

.user-id {
	height: 15%;
	border-radius: 20px;
	background-color: #ffdddd;
}

.user-id h3 {
	font-size: 24px;
	transition: 0.3s;
}

.dados {
	flex-direction: column;
	height: 30%;
	border-radius: 10px;
	white-space: nowrap;
	overflow: hidden;
}

.dados .userName, .dados .userEmail {
	display: flex;
	justify-content: flex-start;
	margin-left: 10px;
	width: 100%;
	gap: 10px;
}

.dados .userName h3, .dados .userEmail h3 {
	font-size: 24px;
	transition: 0.3s;
}

.icons {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	border: none;
	height: 20%;
	transition: 0.3s;
}

.icons button {
	width: 20%;
	height: 65%;
	border-radius: 5px;
	border: 1px solid black;
	background-color: #97c9ff;
}

.icons button img {
	width: auto;
	height: 50%;
	transition: 0.3s;
}

.icons button:hover {
	cursor: pointer;
	background-color: #7dbbff;
}

.icons button:active {
	background-color: #66aeff;
}

.container-tabela {
	width: 100%;
	height: 90%;
	overflow: auto;
	overflow-x: hidden;
}

.table-bordered {
	background-color: #ceeeff;
}

.table-bordered thead {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: white;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: #b0d6ff;
}

.table-striped tbody tr:nth-of-type(even) {
	background-color: #95c8ff;
}

.table-hover tbody tr:hover {
	background-color: #66aeff;
}

.buttons-edit {
	display: flex;
	justify-content: space-around;
}

.buttons-edit button {
	width: 35px;
	height: 35px;
	border-radius: 5px;
	border: 1px solid black;
	background-color: white;
}

.buttons-edit button:hover {
	background-color: #e2e2e2;
	cursor: pointer;
}

.buttons-edit button:active {
	background-color: #cfcfcf;
}

/* .status-concluido { */
/* 	background-color: #d4edda; */
/* 	color: #155724; */
/* } */

/* .status-em-andamento { */
/* 	background-color: #fff3cd; */
/* 	color: #856404; */
/* } */

/* .status-nao-iniciado { */
/* 	background-color: gray; */
/* 	color: black; */
/* } */

.botao-fechar {
	position: absolute;
	top: 0;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	padding: 10px;
}

#fechar-janela {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border: none;
	border-radius: 6px;
	cursor: pointer;
	background-color: red;
}

#fechar-janela img{
	width: 100%;
	height: auto;
}

#janela-tarefas {
	position: absolute;
	display: flex;
	flex-direction: column;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
	width: 38%;
	height: 50%;
	color: white;
}

#janela-tarefas .conteudo {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: orange;
	height: auto;
	padding: 10px;
}

.conteudo h2 {
	font-size: 28px;
}

.conteudo .tarefaForm {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px;
	width: 100%;
}

#formTarefa {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	gap: 10px;
	background-color: fuchsia;
	font-size: 18px;
	padding: 10px;
}

#formTarefa .nome label, .desc label, .status label {
	width: 100%;
	text-align: left;
	padding-left: 10px;
}

#formTarefa .status{
	display: flex;
	flex-direction: column;
}

#statusTarefa{
	border-radius: 10px;
	font-size: 90%;
	cursor: pointer;
}

@media screen and ( max-height : 770px) , screen and (max-width: 1400px)
	{
	.dados .userName h3, .dados .userEmail h3 {
		font-size: 17px;
		transition: 0.3s;
	}
	.user-id h3 {
		font-size: 17px;
		transition: 0.3s;
	}
	.icons {
		height: 23%;
		transition: 0.3s;
	}
	.icons button img {
		height: 60%;
		transition: 0.3s;
	}
}