 <!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="pt-br">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">
<link href="css/sistema.css" rel="stylesheet">
<title>Gerenciamento de tarefas</title>
</head>

<body>

	<div class="center">

		<div class="top">
			<h2>Sistema de tarefas</h2>
		</div>

		<div class="bottom">
			<div class="sidebar">
				<div class="container-img">
					<div class="user-img"></div>
				</div>

				<div class="user-info">
					<div class="user-id">
						<h3>Id:</h3>
						<h3 th:text=${usuario.id}></h3>
					</div>
					<div class="dados">
						<div class="userName">
							<h3>Nome:</h3>
							<h3 th:text="${usuario.nome}"></h3>
						</div>
						<div class="userEmail">
							<h3>Email:</h3>
							<h3 th:text="${usuario.email}"></h3>
						</div>

					</div>
					<div class="icons">
						<button onclick="sair()">
							<img src="../assets/icons/box-arrow-left.svg">
						</button>
						<button id="btnCriarTarefa" onclick="abrirJanela('criar')">
							<img src="../assets/icons/plus-square-fill.svg">
						</button>
					</div>
				</div>
			</div>

			<div class="container-tabela">
				<table class="table table-bordered table-striped table-hover">
					<thead>
						<tr>
							<th scope="col">Tarefas</th>
							<th scope="col">Título</th>
							<th scope="col">Descrição</th>
							<th scope="col">Status</th>
							<th scope="col">Edição</th>
						</tr>
					</thead>

					<tbody>

						<tr th:each="tarefas, iterStat : ${tarefas}">
							<td th:text="${iterStat.index + 1}"></td>
							<td th:text="${tarefas.titulo}"></td>
							<td th:text="${tarefas.descricao}"></td>
							<td th:text="${tarefas.status}"></td>
							<td>
								<div class="buttons-edit">
									<button class="editar" id="btnEditarTarefa"
										th:attr="data-id=${tarefas.id_tarefa}"
										onclick="abrirJanela('editar', this)">
										<img src="../assets/icons/pencil-square.svg">
									</button>
									<button class="excluir" th:attr="data-id=${tarefas.id_tarefa}"
										onclick="deletarTarefa(this)">
										<img src="../assets/icons/trash3-fill.svg">
									</button>
								</div>
							</td>
						</tr>

					</tbody>
				</table>

				<div id="janela-tarefas">
					<div class="conteudo">
						<div class="botao-fechar">
							<button id="fechar-janela">
								<img src="../assets/icons/x-square.svg">
							</button>
						</div>
						<h2>Adicionar nova tarefa</h2>
						<div class="tarefaForm">

							<form id="formTarefa">
								<div class="nome">
									<label for="tituloTarefa">Nome*</label> <input type="text"
										class="form-control" id="tituloTarefa" required="required"
										placeholder="Nome da tarefa">
								</div>
								<div class="desc">
									<label for="descTarefa">Senha</label> <input type="text"
										class="form-control" id="descTarefa" placeholder="Descrição">
								</div>
								<div class="status">
									<label>Selecione um status</label> <select id="statusTarefa">
										<option value="nao-iniciado" selected="selected">Não
											iniciado</option>
										<option value="concluido">Concluído</option>
										<option value="em-andamento">Em andamento</option>
									</select>
								</div>
								<button type="submit" class="btn btn-primary" id="btn-form">Enviar</button>
							</form>
						</div>
					</div>
				</div>

			</div>



		</div>



	</div>

	<script src="../scripts/sistema.js"></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
		integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
		integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
		crossorigin="anonymous"></script>
</body>

</html>